<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricky.codelab.mybatis.sample.BlogMapper">

	<!-- 返回所有Blog -->
	<select id="selectAllBlog" resultType="Blog">
		SELECT * FROM dict_blog
	</select>

	<select id="selectBlog" parameterType="int" resultType="Blog">
		SELECT * FROM dict_blog WHERE id = #{id}
	</select>
	
	<insert id="insertBlog" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO dict_blog (title,content,section_id,uid,publish_time)
		VALUES (#{title},#{content},#{section_id},#{uid},#{publish_time})
	</insert>

	<update id="updateBlog" parameterType="Blog">
		UPDATE dict_blog SET
		title = #{title},
		content = #{content},
		section_id = #{section_id},
		uid = #{uid},
		update_time = #{update_time}
		WHERE id = #{id}
	</update>

	<delete id="deleteBlog" parameterType="int">
		DELETE FROM dict_blog WHERE id = #{id}
	</delete>
</mapper>