<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="db.properties" />

	<typeAliases>
		<typeAlias alias="Author" type="com.ricky.mybatis.lab.model.Author" />
		<typeAlias alias="Blog" type="com.ricky.mybatis.lab.model.Blog" />
		<typeAlias alias="Comment" type="com.ricky.mybatis.lab.model.Comment" />
		<typeAlias alias="Section" type="com.ricky.mybatis.lab.model.Section" />
	</typeAliases>

	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments> -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="com.ricky.mybatis.lab.datasource.C3P0DataSourceFactory">
                <property name="driverClass" value="${driver}" />
                <property name="jdbcUrl" value="${url}" />
                <property name="user" value="${username}" />
                <property name="password" value="${password}" />
                
                <property name="initialPoolSize" value="2" />
                <property name="maxPoolSize" value="5" />
                <property name="minPoolSize" value="1" />
                <property name="maxIdleTime" value="1800" />
                <property name="acquireIncrement" value="1" />
                <property name="maxStatements" value="1000" />
                
                <property name="idleConnectionTestPeriod" value="60" />
                <property name="acquireRetryAttempts" value="20" />
                <property name="breakAfterAcquireFailure" value="true" />
                <property name="testConnectionOnCheckout" value="false" />
            </dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="SectionMapper.xml" />
		<mapper resource="BlogMapper.xml" />
		<mapper resource="AuthorMapper.xml" />
		<mapper resource="CommentMapper.xml" />
	</mappers>

</configuration>