<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bytebeats.codelab.mybatis.mapper.UserMapper" >

  <resultMap id="BaseResultMap" type="com.bytebeats.codelab.mybatis.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select * from tb_user where id = #{id,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="User" >
    insert into tb_user (name, password, age,
      email, gender, registerTime)
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
      #{email,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, now())
  </insert>
  <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO tb_user
    (name, password,age, email,gender,register_time)
    VALUES
    <foreach collection="list" item="user" index="index" separator="," >
      (#{user.name},#{user.password},#{user.age},#{user.email},
      #{user.gender},#{user.registerTime})
    </foreach>
  </insert>

  <update id="updateById" parameterType="User" >
    update tb_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        registerTime = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from tb_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>

</mapper>